@forward 'src/styles';

.wrapper {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	.preloader-wrapper {
		@extend %place-center;
		height: 80vh;
	}

	::ng-deep .custom-spinner {
		width: 200px;
		height: 200px;
	}
	::ng-deep .p-progress-spinner-circle {
		stroke: black;
		animation: none;
	}
}
