<div class="board-wrapper" cdkDropListGroup>
  <app-column *ngFor="let column of columns$ | async" [column]="column"></app-column>
  <button (click)="showCreateColumnModal()" pButton type="button" icon="pi pi-plus" class="p-button-rounded"></button>
</div>

<!--Create column modal-->
<p-dialog header="Column title" [(visible)]="createColumnModalIsOpen">
  <form [formGroup]="createColumnForm" (submit)="createColumnSubmit()">
    <span class="p-float-label">
      <input id="column-title" formControlName="columnTitle" type="text" pInputText>
      <label for="column-title">Column title</label>
    </span>
    <small *ngIf="createColumnForm.controls['columnTitle'].hasError('required')" class="p-error block">Please enter column title</small>
    <small *ngIf="createColumnForm.controls['columnTitle'].hasError('minlength')" class="p-error block">Minimum length is 3 characters</small>
    <small *ngIf="createColumnForm.controls['columnTitle'].hasError('maxlength')" class="p-error block">Maximum length is 30 characters</small>
    <button pButton type="submit" label="Create"></button>
  </form>
</p-dialog>

<!--[pDraggable]="column.title"-->
<!--[pDroppable]='columnTitles' (onDragStart)="dragStart(column)" (onDragEnd)="dragEnd()" (onDrop)="drop()" dragHandle=".column-header"-->
