<div class="column-wrapper">
	<div class="column-header">
		<p>
			{{ columnTitle }}
		</p>
		<p-button
			title="New"
			icon="pi pi-plus"
			class="p-button-sm"
			[style]="{ height: '10px', width: '30px' }"
			onclick="addColumn()">
		</p-button>
	</div>
	<div class="card-content">
		<div pDroppable="cardItems">
			<app-task
				*ngFor="let task of tasks$ | async"
				pDraggable="cardItems"
				[taskId]="task._id"
				[taskTitle]="task.title"
				[taskDescription]="task.description"
				(onDragStart)="dragStart(task)"
				(onDragEnd)="dragEnd()"
				(onDrop)="drop()">
			</app-task>
		</div>

		<div class="p-input-icon-right">
			<i class="pi pi-plus" style="color: blue" onclick="addTask()"></i>
			<input type="text" pInputText />
		</div>
	</div>
</div>
