<div class="column-header" cdkDragHandle="column">
	<ng-content></ng-content>
	<p class="column-title" title="{{ column.title }}">
		{{ column.title }}
	</p>
	<div class="column-buttons">
		<button
			pButton
			title="{{ 'COLUMN.RENAME' | translate }}"
			icon="pi pi-file-edit"
			class="p-button-rounded p-button-text"
			(click)="showRenameColumnModal()"></button>
		<button
			pButton
			title="{{ 'COLUMN.DELETE' | translate }}"
			icon="pi pi-times"
			class="p-button-rounded p-button-text"
			(click)="deleteColumn()"></button>
	</div>
</div>
<div class="column-body">
	<div class="tasks" cdkDropList="task" (cdkDropListDropped)="taskDrop(column._id, $event)">
		<app-task
			class="task"
			*ngFor="let task of tasks$ | async | filterBy: 'title':tasksFilter"
			[task]="task"
			(taskDelete)="updateTasksOrder($event)"
			cdkDrag="task"
			(cdkDragStarted)="taskDragStart(task)"
			><div class="handle-wrapper" cdkDragHandle="task"></div>
		</app-task>
		<p-button
			title="Create task"
			icon="pi pi-plus"
			styleClass="p-button-rounded create-task-button"
			(click)="showCreateTaskModal()">
		</p-button>
	</div>
</div>

<!--Rename column modal-->
<p-dialog header="{{ 'COLUMN.TITLE' | translate }}" [(visible)]="renameColumnModalIsOpen" [draggable]="false">
	<form [formGroup]="renameColumnForm" (submit)="renameColumnSubmit()">
		<input class="dialog-form__input" formControlName="columnTitle" type="text" pInputText />

		<div class="dialog-form__error-wrapper">
			<small *ngIf="renameColumnForm.controls['columnTitle'].hasError('required')" class="p-error block">{{
				'ERROR_INPUTS.COLUMN_REQUIRED' | translate
			}}</small>
			<small *ngIf="renameColumnForm.controls['columnTitle'].hasError('minlength')" class="p-error block">{{
				'ERROR_INPUTS.MIN_LENGTH' | translate
			}}</small>
			<small *ngIf="renameColumnForm.controls['columnTitle'].hasError('maxlength')" class="p-error block">{{
				'ERROR_INPUTS.MAX_LENGTH' | translate
			}}</small>
		</div>

		<button pButton class="p-button-outlined" type="submit" label="{{ 'COLUMN.RENAME' | translate }}"></button>
	</form>
</p-dialog>

<!--Create task modal-->
<p-dialog header="{{ 'TASK.CREATE' | translate }}" [(visible)]="createTaskModalIsOpen" [draggable]="false">
	<form [formGroup]="createTaskForm" (submit)="createTaskSubmit()">
		<input
			class="dialog-form__input"
			placeholder="{{ 'TASK.TITLE' | translate }}"
			formControlName="taskTitle"
			type="text"
			pInputText />

		<div class="dialog-form__error-wrapper">
			<small *ngIf="createTaskForm.controls['taskTitle'].hasError('required')" class="p-error block">{{
				'ERROR_INPUTS.TASK_REQUIRED' | translate
			}}</small>
			<small *ngIf="createTaskForm.controls['taskTitle'].hasError('minlength')" class="p-error block">{{
				'ERROR_INPUTS.MIN_LENGTH' | translate
			}}</small>
			<small *ngIf="createTaskForm.controls['taskTitle'].hasError('maxlength')" class="p-error block">{{
				'ERROR_INPUTS.MAX_LENGTH' | translate
			}}</small>
		</div>

		<textarea
			class="dialog-form__input dialog-form__input--description"
			placeholder="{{ 'TASK.DESCRIPTION' | translate }}"
			pInputTextarea
			formControlName="taskDescription"
			[autoResize]="true"></textarea>
		<button
			pButton
			class="dialog-form__submit-button p-button-outlined"
			type="submit"
			label="{{ 'TASK.CREATE' | translate }}"></button>
	</form>
</p-dialog>

<!--Delete column confirm modal-->
<p-confirmDialog header="{{ 'COMMON.CONFIRMATION' | translate }}" icon="pi pi-exclamation-triangle"></p-confirmDialog>
