<div class="column-wrapper">
    <div class="column-header">
        <p>
            {{columnTitle}}
        </p>
        <p-button title="New" icon="pi pi-plus" class="p-button-sm" [style]="{height: '10px', width: '30px'}">
        </p-button>

    </div>
    <div class="card-content">
        <div>
            <ng-template ngFor let-taskItem [ngForOf]="taskItems" let-i="index">
                <app-task pDraggable="cardItems" pDroppable="cardItems" [taskId]="taskItem._id"
                    [taskTitle]="taskItem.title" [taskDescription]="taskItem.description"
                    (onDragStart)="dragStart(taskItem)" (onDragEnd)="dragEnd()" (onDrop)="drop()">
                </app-task>
            </ng-template>
        </div>

        <span class="p-input-icon-right">
            <i class="pi pi-plus"></i>
            <input type="text" pInputText />
        </span>
    </div>
</div>