<p-card class="card">
	<ng-content></ng-content>
	<div class="card__body">
		<h3 class="card__title">{{ task.title }}</h3>
		<div class="card__buttons">
			<button
				pButton
				(click)="showEditTaskModal()"
				type="button"
				title="Edit task"
				icon="pi pi-pencil"
				class="p-button-rounded p-button-text"></button>
			<button
				pButton
				(click)="deleteTask()"
				title="Delete task"
				type="button"
				icon="pi pi-times"
				class="p-button-rounded p-button-text"></button>
		</div>
	</div>
	<ng-container *ngIf="assignedUsers.length">
		<p-avatarGroup>
			<p-avatar
				*ngFor="let user of assignedUsers"
				label="{{ user.name | slice: 0:1 }}"
				title="{{ user.name }}({{ user.login }})"></p-avatar>
		</p-avatarGroup>
	</ng-container>
</p-card>

<!--Edit task modal-->
<p-dialog header="Edit task" [(visible)]="editTaskModalIsOpen" [draggable]="false">
	<form [formGroup]="editTaskForm" (submit)="editTaskSubmit()">
		<input class="dialog-form__input" placeholder="Task title" formControlName="taskTitle" type="text" pInputText />
		<div class="dialog-form__error-wrapper">
			<small *ngIf="editTaskForm.controls['taskTitle'].hasError('required')" class="p-error block"
				>Please enter task title</small
			>
			<small *ngIf="editTaskForm.controls['taskTitle'].hasError('minlength')" class="p-error block"
				>Minimum length is 3 characters</small
			>
			<small *ngIf="editTaskForm.controls['taskTitle'].hasError('maxlength')" class="p-error block"
				>Maximum length is 30 characters</small
			>
		</div>
		<textarea
			class="dialog-form__input dialog-form__input--description"
			placeholder="Task description"
			pInputTextarea
			formControlName="taskDescription"
			[autoResize]="true"></textarea>
		<button pButton class="dialog-form__submit-button" type="submit" label="Edit task"></button>
	</form>
</p-dialog>

<!--Delete task confirm modal-->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
