<p-splitButton (onClick)="openBoard()" label="{{board.title}}" [model]="boardActions" styleClass="p-button-raised p-button-plain p-button-text mr-2 mb-2"></p-splitButton>

<!--Rename board modal-->
<p-dialog header="Rename board title" [(visible)]="renameBoardModalIsOpen">
  <form [formGroup]="renameBoardForm" (submit)="renameBoardSubmit()">
    <span class="p-float-label">
      <input id="board-title" formControlName="boardTitle" type="text" pInputText>
      <label for="board-title">Board Title</label>
    </span>
    <small *ngIf="renameBoardForm.controls['boardTitle'].hasError('required')" class="p-error block">Please enter board title</small>
    <small *ngIf="renameBoardForm.controls['boardTitle'].hasError('minlength')" class="p-error block">Minimum length is 3 characters</small>
    <small *ngIf="renameBoardForm.controls['boardTitle'].hasError('maxlength')" class="p-error block">Maximum length is 30 characters</small>
    <button pButton type="submit" label="Rename"></button>
  </form>
</p-dialog>

<!--Delete board confirm modal-->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>


<!-- Members Modal -->
<p-dialog header="Members" [(visible)]="membersModalIsOpen">
  <p class="member" *ngFor="let member of members"><span>{{member.login}}</span><button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined" (click)="deleteMember(member._id)"></button></p>
  <div>
    <h2>Add new member</h2>
    <form class="addForm" [formGroup]="addMemberForm" (submit)="addMember()">
      <span class="p-float-label">
        <input id="add-member" formControlName="login" type="text" pInputText>
        <label for="add-member">Login member</label>
      </span>
      <small *ngIf="addMemberForm.controls['login'].hasError('required')" class="p-error block">Please enter login</small>
      <small *ngIf="addMemberForm.controls['login'].hasError('minlength')" class="p-error block">Minimum length is 3 characters</small>
      <button pButton type="submit" label="Add"></button>
    </form>
  </div>
</p-dialog>
