<p-splitButton
	(onClick)="openBoard()"
	label="{{ board.title }}"
	[model]="boardActions"
	styleClass="p-button-raised p-button-text"></p-splitButton>

<!--Rename board modal-->
<p-dialog header="Rename board title" [(visible)]="renameBoardModalIsOpen">
	<form class="dialog-form" [formGroup]="renameBoardForm" (submit)="renameBoardSubmit()">
		<input class="dialog-form__input" id="board-title" formControlName="boardTitle" type="text" pInputText />
		<div class="dialog-form__error-wrapper">
			<small *ngIf="renameBoardForm.controls['boardTitle'].hasError('required')" class="p-error block"
				>Please enter board title</small
			>
			<small *ngIf="renameBoardForm.controls['boardTitle'].hasError('minlength')" class="p-error block"
				>Minimum length is 3 characters</small
			>
			<small *ngIf="renameBoardForm.controls['boardTitle'].hasError('maxlength')" class="p-error block"
				>Maximum length is 30 characters</small
			>
		</div>
		<button pButton class="p-button-outlined" type="submit" label="Rename"></button>
	</form>
</p-dialog>

<!-- Members Modal -->
<p-dialog header="Members" [(visible)]="membersModalIsOpen" [breakpoints]="{ '500px': '90vw' }">
	<div class="members">
		<div class="members__item">
			<div class="members__member">
				<p-avatar icon="pi pi-user"></p-avatar>
				<p>Me</p>
			</div>
		</div>
		<div class="members__item" *ngFor="let member of members">
			<div class="members__member">
				<p-avatar label="{{ member.name | slice: 0:1 }}" title="{{ member.name }}({{ member.login }})"></p-avatar>
				<p>{{ member.name }}({{ member.login }})</p>
			</div>
			<button
				pButton
				type="button"
				icon="pi pi-times"
				class="p-button-rounded p-button-text"
				(click)="deleteMember(member._id)"></button>
		</div>
	</div>
	<div>
		<form class="dialog-form" [formGroup]="addMemberForm" (submit)="addMember()">
			<h3 class="dialog-form__title">Add new member</h3>
			<input class="dialog-form__input" id="add-member" formControlName="login" type="text" pInputText />
			<div class="dialog-form__error-wrapper">
				<small *ngIf="addMemberForm.controls['login'].hasError('required')" class="p-error block"
					>Please enter login</small
				>
				<small *ngIf="addMemberForm.controls['login'].hasError('minlength')" class="p-error block"
					>Minimum length is 3 characters</small
				>
			</div>
			<button pButton class="p-button-outlined" type="submit" label="Add"></button>
		</form>
	</div>
</p-dialog>

<!--Delete board confirm modal-->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
