.card-wrapper {
	width: 280px;
	height: 120px;
	margin: 10px auto;
}

.card-header {
	display: flex;
	justify-content: center;

	p {
		margin-left: 5px;
	}
}

.boardsContent {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	padding: 0;
}
