:host {
	width: 100%;

	::ng-deep .p-splitbutton.p-button-raised {
		width: 50%;
		@media (max-width: 800px) {
			width: 100%;
		}
	}

	.dialog-form {
		&__input {
			margin-bottom: 1rem;
		}

		&__error-wrapper {
			position: relative;
			bottom: 8px;
			text-align: left;
		}
	}
}

.member{
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.addForm{
  padding: 2rem ;
}
