<p-splitButton
	(onClick)="openBoard()"
	label="{{ board.title }}"
	[model]="boardActions"
	styleClass="p-button-raised p-button-text"></p-splitButton>

<!--Rename board modal-->
<p-dialog header="Rename board title" [(visible)]="renameBoardModalIsOpen">
	<form class="dialog-form" [formGroup]="renameBoardForm" (submit)="renameBoardSubmit()">
		<input class="dialog-form__input" id="board-title" formControlName="boardTitle" type="text" pInputText />
		<div class="dialog-form__error-wrapper">
			<small *ngIf="renameBoardForm.controls['boardTitle'].hasError('required')" class="p-error block"
				>Please enter board title</small
			>
			<small *ngIf="renameBoardForm.controls['boardTitle'].hasError('minlength')" class="p-error block"
				>Minimum length is 3 characters</small
			>
			<small *ngIf="renameBoardForm.controls['boardTitle'].hasError('maxlength')" class="p-error block"
				>Maximum length is 30 characters</small
			>
		</div>
		<button pButton class="p-button-outlined" type="submit" label="Rename"></button>
	</form>
</p-dialog>

<!--Delete board confirm modal-->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
