<div class='header-left'>

  <img class='logo' src='/assets/img/logo.svg' alt='logo'>

  <!--    board control buttons-->
  <ng-template [ngIf]='true'>
    <div class='board-controls-header'>
      <button pButton class='p-button-text p-button-sm' type='button' label="{{ 'HEADER.BUTTONS.BOARDS' | translate }}"></button>
      <button pButton class='p-button-secondary p-button-text p-button-sm' type='button'
              label="{{ 'HEADER.BUTTONS.CREATE' | translate }}"></button>
    </div>
  </ng-template>
</div>

<div class='header-right'>
  <!--    login buttons-->
  <ng-template [ngIf]='false'>
    <button pButton class='p-button-secondary p-button-text p-button-sm' type='button' label="{{ 'HEADER.BUTTONS.SIGN-UP' | translate }}"></button>
    <button pButton class='p-button-text p-button-sm' type='button' label="{{ 'HEADER.BUTTONS.LOGIN' | translate }}"></button>
  </ng-template>

  <!--    user controls -->
  <ng-template [ngIf]='true'>
    <div class='user-controls-header'>
      <button pButton icon='pi pi-user' class='p-button-rounded p-button-text' type='button'></button>
      <button pButton class='p-button-secondary p-button-text p-button-sm' type='button' label="{{ 'HEADER.BUTTONS.LOGOUT' | translate }}"></button>
    </div>
  </ng-template>

  <!--      side bar button-->
  <button pButton icon='pi pi-bars' class='p-button-rounded p-button-text' type='button'
          (click)='sideBarIsOpen = true'></button>

  <!--      side bar-->
  <p-sidebar class='sidebar' [(visible)]='sideBarIsOpen' [transitionOptions]="'200ms'" styleClass="p-sidebar-sm" position='right'>
    <div class='sidebar-body'>
      <!--    lang select-->
      <p-selectButton [options]='langSelect' [(ngModel)]='selectedLang' optionLabel='label'
                      optionValue='lang' (onOptionClick)="changeLanguage(selectedLang)"></p-selectButton>


      <!--    board control buttons-->
      <ng-template [ngIf]='true'>
        <div class='board-controls-sidebar'>
          <button pButton class='p-button-text p-button-sm' type='button' label="{{ 'HEADER.BUTTONS.BOARDS' | translate }}"></button>
          <button pButton class='p-button-secondary p-button-text p-button-sm' type='button'
                  label="{{ 'HEADER.BUTTONS.CREATE' | translate }}"></button>
        </div>
      </ng-template>

      <!--    user controls -->
      <ng-template [ngIf]='true'>
        <div class='user-controls-sidebar'>
          <button class='p-button-rounded user-settings-btn p-button-text' pButton icon='pi pi-user' label="{{ 'HEADER.BUTTONS.SETTINGS' | translate }}"
                  type='button'></button>
          <button pButton class='p-button-secondary p-button-text p-button-sm' type='button' label="{{ 'HEADER.BUTTONS.LOGOUT' | translate }}"></button>
        </div>
      </ng-template>
    </div>
  </p-sidebar>
</div>

