<div class='body'>
  <h1 class='visually-hidden'>Pure Kanban</h1>
  <img class='welcome-image' src="/assets/img/hero-image.svg" alt="kanban image">

  <!--  about section-->
  <section class='about'>
    <p-accordion>
      <p-accordionTab header="about this project">
        <p class='text'>This project was made during the Angular Course in <a href='https://rs.school/' target='_blank'>RS School.</a></p>
        <ul> Our Team:
          <li>Mentor: <a href='https://github.com/artsiomfando/' target='_blank'>Artsiom Fando</a></li>
          <li>Team lead: <a href='https://github.com/gleb-28' target='_blank'>Gleb Gruzdov</a></li>
          <li>Team member: <a href='https://github.com/janChorny' target='_blank'>Yan Chorny</a></li>
          <li>Team member: <a href='https://github.com/delfiahope' target='_blank'>Nadya Rudenok</a></li>
          <li>Team member: <a href='https://github.com/AnAtoliyAK' target='_blank'>Anatoliy Aliaksandrau</a></li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </section>
</div>

