<div class='body'>
  <h1 class='visually-hidden'>Pure Kanban</h1>
  <img class='welcome-image' src="/assets/img/hero-image.svg" alt="kanban image">

  <!--  about section-->
  <section class='about'>
    <p-accordion>
      <p-accordionTab header="about this project">
        <p class='text'>This project was made during the Angular Course in <a href='https://rs.school/' target='_blank'>RS
          School.</a></p>
        <ul> Our Team:
          <li *ngFor="let member of team">
            {{member.role | titlecase}}:
            <a href='{{member.gitHubLink}}' target='_blank'>{{member.fullName}}</a></li>
        </ul>
      </p-accordionTab>
    </p-accordion>
  </section>
</div>

