<form class="form-card" [formGroup]="loginForm" (ngSubmit)="login()">
  <h2 class="form-card__title">Login</h2>

  <span class="p-float-label">
    <input pInputText class="form-card__field" type="text" formControlName="login">
    <label for="float-input">Login</label>
  </span>
  <div class="form-card__error-name">
    <p *ngIf="isValid('login', 'required')">Please enter a login</p>
    <p *ngIf="isValid('login', 'minlength')">At least 3 characters</p>
  </div>

  <span class="p-float-label">
    <input id="float-input" pInputText type="password" formControlName="password" >
    <label for="float-input">Password</label>
  </span>
  <ul class="form-card__error-pass">
      <li *ngIf="isValid('password', 'required')">Please enter a password</li>
      <li *ngIf="isValid('password', 'minlength')">At least 8 characters</li>
      <li *ngIf="isValid('password', 'isValidRegister')">At least one lowercase or at least one uppercase</li>
      <li *ngIf="isValid('password', 'isValidNumber')">At least one numeric or one letters</li>
      <li *ngIf="isValid('password', 'isValidSymbol')">At least one special character, e.g., ! @ # ? ]</li>
  </ul>

  <button pButton class="form-card__btn" type="submit" label="Login"></button>
  <div class="form-card__info">Don't have an account?
    <button pButton label="Signup" class="p-button-text form-card__signup"></button>
  </div>
</form>

