:host {
	padding-right: 2rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	background: white;

	.footer {
		padding: 0.4rem 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid var(--dark-gray);

		&__year {
			font-size: 12px;
		}

		&__git-link {
			&.p-button.p-button-icon-only.p-button-rounded {
				border-radius: 4px;
			}

			transition: all 0.2s ease-in-out;

			@media (hover: hover) {
				&:hover {
					color: var(--secondary);
					background-color: var(--primary);
				}
			}
		}
	}
}
