:host{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.login-form{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

display: flex;
flex-direction: column;
max-width: 360px;
padding: 30px 20px;
background-color: #f5f3f3;
border-radius: 5px;

&__title{
  margin: 0 0 35px;
  font-size: 24px;
  color: #000000;
}

&__btn{
  align-self: center;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #FFFFFF;
  background: #2fd0ed;
  border-radius: 5px;
  border:none;
  cursor: pointer;
  &:hover{
    background: #09aad6;
  }
  &[disabled]{
    background:#465160;
  }
}

&__error-name {
  width: 100%;
  height: 30px;
  color: red;
  margin: 0 0 5px 0;
  padding: 5px 0;
  font-size: 10px;
}

&__error-pass {
  width: 100%;
  height: 60px;
  display: flex;
  padding: 5px 0;
  color: red;
  margin: 0;
  font-size: 10px;
}
input:focus {
  border: none;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

li {
  font-size: 10px;
  list-style: none;

}

&__info{
  font-size: 12px;
  padding: 10px 0;
  margin: 0 auto;
  & span{
    padding: 0 6px;
    color: #2fd0ed;
    cursor: pointer;
    &:hover{
      color: #09aad6;
    }
  }
}
}

.p-inputtext{
width: 320px;
}
